
.section{
		text-align:center;
	}

@font-face { font-family: Kaushan; src: url('fonts/KaushanScript-Regular.otf'); } 
@import url(http://fonts.googleapis.com/css?family=Lato);
body{
  background-image: url(../img/future.png) !important; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
body{
  color:white !important;
}
h1 {
  margin-top: -50px !important;
  font-family: Kaushan !important;
  color: white !important;
  font-size: 70px !important;
}

.nav{
 font-family: 'Lato', sans-serif, serif;
 text-align: center !important;
 width: 100% !important;
 
}
.left {
  text-align: left !important;
}
.nav li{
  width: 25% !important;
}

ul.nav {
    width:100% !important;
    margin:0 auto;
    padding:0;
    list-style:none;
    text-align:center;}

p{
	font-family: 'Lato', sans-serif !important;
	color: #fff !important;
}
.small{
  height: 50px;
  width:auto;
}
.option{
  color:white;
  text-align:left;
  float: left;
}

#total{
  font-size: 30px;
}
.site{
  opacity: 0.6;
  width: 200px;
  height:auto;
}
.site:hover{
  opacity:1.0;
}