@font-face { font-family: Kaushan; src: url('KaushanScript-Regular.otf'); } 
.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

body {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
	webkit-tap-highlight-color: rgba(255,255,255,.2);
}

h1,
h2
{
	margin: 0 0 35px;
	font-family: "Kaushan","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	letter-spacing: 1px;
}


.small-caps {
  font-variant: small-caps;
}

.center {
  text-align: center;
}

.no-select {
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #panel1 #content #down-button {
  background: url(icon.png);
  background-size: cover;
  }
}


#panel1 {
  padding-top: 0px;
  width: 100%;
  min-height: 100%;
  display: table;
  overflow-x: hidden;
}

#panel1 #content {
  padding: 30px;
  font-variant: small-caps;
  text-align: center;
  
  vertical-align: middle;
  color: white;
}

#panel1 #content h2 {
  font-size: 64px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  text-align: center;
}

#panel1 #content #items {
  text-align: center;
}

#panel1 #content #items h3 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  padding: 20px;
  width: 100px;
  height: auto;
}


.bannerPart{
  height:100%;
  overflow:hidden;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  width: auto;
  height: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.bgwidth{
  width:100%
}

.bgheight{
  height:100%
}

.bannerPart{
  background:#111
}

.bannerPart img{
  opacity:.2;
  filter:alpha(opacity=20);
}

.about-container {
  background: #FAFAFC;
  color: black;
  font-size: 20px;
}

.aboutme-header {
  text-align: center;
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif, serif;
}

.me {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center {
  text-align: center;
}

.about-info {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif, serif;
  text-align: center
}

.hs {
  border-style: solid;
  border-width: 2px;
  border-color: #E5E5E5;
}

.code{
  border-style: solid;
  border-width: 2px;
  border-color: #E5E5E5
}


.activities-container {
  color: white;
  
  font-size: 15px;
  font-family: 'Source Sans Pro', 'Nunito', sans-serif, serif;
  width: 100%;
  height: auto;
}
.contact-container {
  background: #FAFAFA;
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: 'Source Sans Pro', 'Nunito', sans-serif, serif;
  width: 100%;
  height: auto;
}
.description {
    color: #000;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0
}
.hacktext{
    color: #fff;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0
}
.hack{
  border-style: solid;
  border-width: 2px;
  border-color: #E5E5E5;
   opacity: 0.4;
   filter: alpha(opacity=40);
}
.hack:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
