.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
.small-caps {
  font-variant: small-caps;
}

.center {
  text-align: center;
}

.no-select {
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #panel1 #content #down-button {
  background: url(icon.png);
  background-size: cover;
  }
}


#panel1 {
  padding-top: 0px;
  width: 100%;
  min-height: 100%;
  display: table;
  overflow-x: hidden;
}

#panel1 #content {
  padding: 30px;
  font-variant: small-caps;
  text-align: center;
  
  vertical-align: middle;
  color: white;
}

#panel1 #content h2 {
  font-size: 64px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  text-align: center;
}

#panel1 #content #items {
  text-align: center;
}

#panel1 #content #items h3 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  padding: 20px;
  width: 100px;
  height: auto;
}


.bannerPart{
  height:100%;
  overflow:hidden;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  width: auto;
  height: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.bgwidth{
  width:100%
}

.bgheight{
  height:100%
}

.bannerPart{
  background:#111
}

.bannerPart img{
  opacity:.2;
  filter:alpha(opacity=20);
}

.about-container {
  background: #E5E5E5;
  color: black;
  font-size: 20px;
}

.aboutme-header {
  text-align: center;
  font-size: 50px;
  font-family: "ruda", 'Open Sans', 'Nunito', sans-serif, serif;
}

.me {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center {
  text-align: center;
}

.about-info {
  font-size: 15px;
}

.hs {
  
  width: 500px;
  height: auto;

}

.code{
 
  width: 350px;
  height: auto;
 
}

.kumon{
  
  width: 500px;
  height: auto;
  
}

.chinese{
  
  width: 300px;
  height: auto;

}
.exp-container {
  
  color: white;
 
  font-size: 15px;
  font-family: "ruda", 'Open Sans', 'Nunito', sans-serif, serif;
  width: 100%;
  height: auto;
}

.skill-container {
  background: #FAFAFA;
  color: black;
 
  font-size: 15px;
  font-family: "ruda", 'Open Sans', 'Nunito', sans-serif, serif;
  width: 100%;
  height: auto;
}

.activities-container {
  color: white;
  
  font-size: 15px;
  font-family: "ruda", 'Open Sans', 'Nunito', sans-serif, serif;
  width: 100%;
  height: auto;
}
.contact-container {
  background: #FAFAFA;
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: "ruda", 'Open Sans', 'Nunito', sans-serif, serif;
  width: 100%;
  height: auto;
}